/* =================================================
   ******************* Global Style ****************
 ================================================= */
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'cairo-bold';
  outline: none;
}
::-webkit-scrollbar{
  width: 0%;
}
body{
  direction: rtl;
  scroll-behavior: smooth;
}
ul,li{
  list-style: none;
}
.container{
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
section{
  padding: 70px 0;
}
section h3{
  font-size: 30px;
  text-align: center;
  color: #43a047;
  margin-bottom: 50px;
  position: relative;
}
section h3::after,
section h3::before{
  content: '';
  position: absolute;
  background-color: #43a047;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
section h3::after{
  width: 50px;
  bottom: -10px;
}
section h3::before{
  width: 100px;
  bottom: 0px;
}
/* =================================================
   ******************** header ********************
 ================================================= */
 .header{
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  transition: 0.5s all ease-in-out;
 }
 .header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  transition: all 0.5s ease-in-out;
 }
 .header.active{
  background-color: rgba(0, 0, 0, 0.6);
 }
 .header.active .container{
  height: 80px;
 }
 .header  .logo{
  font-family:'thuluth-decorated';
  font-size: 55px;
  cursor: pointer;
 }
 .header  ul{
  display: flex;
  align-items: center;
 }
 .header  ul li{
  position: relative;
  cursor: pointer;
  margin: 0 15px;
 }
 .header  ul li::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
 }
 .header  ul li.active::after,
 .header  ul li:hover::after{
  width: 100%;
 }
 .header .bars{
  display: none;
 }
 /* =================================================
   **************** main section ********************
 ================================================= */
 .main{
  background-image: url(../images/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0%;
 }
 .main .container{
  min-height: 100vh;
 }
 .main .title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
 }
 .main .title h2{
  line-height: 1.9;
  font-size: 40px;
  margin-bottom: 30px;
 }
 .main .title .btn{
  position: relative;
  background: transparent;
  border:  2px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 15px;
  color: inherit;
  display: flex;
  align-items: center;
  transition: .3s all ease-in-out;
 }
 .main .title .btn i{
  font-size: 25px;
  margin-right: 20px;
 }
 .main .title .btn::after{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #fff;
  
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: .3s all ease-in-out;
 }
 .main .title .btn:hover::after{
  width: 100%;
 }
 .main .title .btn:hover{
  color: #000;
 }
  /* =================================================
   **************** hadith section *******************
 ================================================= */
 .hadithContainer{
  min-height: 350px;
  position: relative;
  box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0px #d1d9e6 inset ;
  color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  padding-top: 70px;
 } 
 .hadith .buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
 }
 .hadith .buttons div{
  background:  linear-gradient(60deg , #66bb6a , #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 88, 0.4);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
 }
 .hadith .buttons .number{
  padding: 10px 20px;
  color: #43a047;
  background: transparent;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 88, 0.4);
 }
   /* =================================================
   **************** lectures section ******************
 =================================================== */
 .lectures-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
 }
 .lectures-container .right,
 .lectures-container .left{
  width: 48%;
 }
 /* right */
 .lectures-container .right .lec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
 }
 .lectures-container .right .lec:hover{
  transform: scale(0.95);
 }
 .lectures-container .right .lec .lec-text{
  width: calc(100% - 150px);
 }
 .lectures-container .right .lec .lec-text h4{
  font-size: 19px;
 }
 .lectures-container .right .lec .lec-text p{
  font-size: 16px;
 }
 .lectures-container .right .lec img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  margin-right: auto;
 }
 /* left */
 .lectures-container .left{
  position: sticky;
  top: 0%;
 }
 .lectures-container .left iframe{
  width: 100%;
  height: 400px;
  border-radius: 6px;
 }
  /* =================================================
   **************** quran section ******************
 =================================================== */
 .surHasContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }
 .surHasContainer .surah{
  min-height: 100px;
  min-width: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #232323;
  font-size: 17px;
  transition: 0.5s all ease-in-out;
 }
 .surHasContainer .surah:hover{
  transform: scale(1.2);
 }
  /* =================================================
   ******************** pop up ***********************
 =================================================== */
 .surah-popup{
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: 0.7s transform ease-in-out;
 }
 .surah-popup.active{
  transform: translateX(0%);
  transition: 0.7s transform ease-in-out;
 }
 
 .surah-popup::-webkit-scrollbar{
  width: 10px;
  background-color: #ffffff15;

 }
 .surah-popup::-webkit-scrollbar-thumb{
  background-color: #43a047;

 }
 .close-popup{
  position: sticky;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  box-shadow:  0 0 4px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  font-size: 23px;
  color: #121212;
  cursor: pointer;
 }
 .ayat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
  margin-top: 20px;
  margin-right: 40px;
  color: #121212;
  text-align: center;
 }
 .ayat p{
  line-height: 2;
  width: 100%;
  border-bottom: 2px solid #43a047;
  margin-bottom: 10px;
 }
  /* ====================================================
  **************** pray time section ********************
 ====================================================== */
 .pray .cards{
  display: flex;
  flex-wrap: wrap;
 }
 .pray .card{
  width: 250px;
  min-height: 320px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 30px 20px;
  margin: 20px auto;
  
 }
 .pray .card .circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .circle svg{
  width: 210px;
  height: 210px;
 }
 .circle svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #43a047;
  transform: translate(5px, 5px);
  stroke-dasharray: 2;
  stroke-dashoffset: 1000;
  animation: dash 2s linear infinite;
 }
 @keyframes dash{
  to{
    stroke-dashoffset: 0;
  }
 }
 .circle .praytime{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #43a047;
  font-size: 40px;
  font-family: cursive;
 }
 .card p{
  color: #43a047;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
 }
  /* ====================================================
   ********************** footer ***********************
 ====================================================== */
 .footer{
  padding: 0%;
 }
 .footer svg{
  fill: #43a047;
  transform: translateY(10px);
 }
 .footer .social{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43a047;

 }
 .footer .social a{
  margin: 0 15px ;
  font-size: 35px;
  color: #fff;
 }
 /* =================================================
*************** button scroll top  *****************
================================================== */
.scrollBtn{
  position: fixed;
  bottom: -50px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #43a047;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.5s bottom ease-in-out;
} 
.scrollBtn.active{
  bottom: 20px;
}
/* =================================================
***************** Responsive  **********************
================================================== */
@media (max-width : 1024px){
  .lectures-container .right,
   .lectures-container .left{
    width: 98%;
   }
   .header .bars{
    display: block;
   }
   .header .bars i{
    color: #43a047;
   }
   .header ul{
    position: fixed;
    left: 0%;
    top: 80px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    transform: translateX(-100%);
    transition: 0.7s transform ease-in-out;
   }
   .header ul.active{
    transform: translateX(0);
   }
   .header ul li{
    margin: 15px 0;
   }
}